@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html,body, #root, #app
{
  height:100%;
  margin:0;
  padding:0;
}

body
{
  font-family: Open Sans, Helvetica, sans-serif;
}

.regular
{
  font-weight:300;
}
